<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>General/GeneralController</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/Jsp/ErrorPage.jsp</location>
    </error-page> 
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>Filters.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>Filters.UserFilter</filter-class>
    </filter>
    <filter>
        <filter-name>GuestFilter</filter-name>
        <filter-class>Filters.GuestFilter</filter-class>
    </filter>
    <filter>
        <filter-name>JspFilter</filter-name>
        <filter-class>Filters.JspFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>JspFilter</filter-name>
        <url-pattern>/Jsp/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>GuestFilter</filter-name>
        <url-pattern>/GuestController </url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/User/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/Admin/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>Listener.ContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>
           DBurl 
        </param-name>
        <param-value>
            jdbc:derby://localhost:1527/DBSecondoProgetto;user=database;password=database
        </param-value>
    </context-param>
    <context-param>
        <param-name>
           DBdriver 
        </param-name>
        <param-value>
            org.apache.derby.jdbc.ClientDriver  
        </param-value>
    </context-param>
    <servlet>
        <servlet-name>GuestServlet</servlet-name>
        <servlet-class>Servlets.GuestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>Servlets.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneralServlet</servlet-name>
        <servlet-class>Servlets.GeneralServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>Servlets.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>Servlets.AccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>Servlets.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GuestServlet</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestServlet</servlet-name>
        <url-pattern>/GuestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/Admin/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneralServlet</servlet-name>
        <url-pattern>/General/GeneralController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/User/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/User/AccController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/User/Upload</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
